/* Banner or Header */
.title
{
    position: fixed;
    width: 100%;
	  color: #fff;
    background: #2980B9;
	  /* background: #555; */
	  padding: 0.25em;
    margin:0;
    left:0;
    top:0;
    z-index: 500; /* NO overlap in title area*/
    /* white-space: nowrap /\* prevent line break *\/ */
}

.subtitle{
    font-size:50%; /* of h1 */ /* decrease size from 95% to 50%*/
}

/* Up link properties */
#org-div-home-and-up{text-align: right;
                     margin: 5px;
                     font-size: 90%;
                     white-space: nowrap;
                     position: fixed;
                     right: 0;
                     top: 3.25em;
                     margin: 7px;
                     color: white;
                     padding: 5px;
                     display: inline;
                     z-index: 600;
                    }

#org-div-home-and-up a{
    color: white;
}

#org-div-home-and-up a:visited {
    color: white;
}

#org-div-home-and-up a:hover,a:active{
    /* color: #C0C0C0; */
    color: #ccffcc;
}

@media screen and (max-width: 768px) {
    #org-div-home-and-up {
        display: none;
    }
    .title {
        position: relative;
        background: inherit;
        color: inherit;
    }
    html {
        margin-left: -45px;
        margin-right: -45px;
    }
}
